* {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
}
li {
  list-style: none;
}
:root {
  --bg-pirmary: #1a0b2e;
  --bg-secondery: #230e3d;
  --bg-card: #351165;
  --linear: linear-gradient(180deg, #f7cb4f, #9400f6);
}
.header-wrap {
  background-color: var(--bg-pirmary);
  color: #fff;
  padding: 10px 0px;
}
.header-wrap .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap ul {
  display: flex;
  gap: 30px;
}
.header-wrap ul li a {
  text-decoration: none;
  color: #fff;
}
.header-wrap .logo h1 {
  color: #fff;
}
.header-wrap .logo span {
  background: var(--linear);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-wrap .button button {
  background: var(--linear);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 16px;
}

/** Hero Section*/
.hero {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  color: #fff;
}
.hero .container .inner-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-img img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  background-image: var(--linear);
  padding: 40px;
  border-radius: 50%;
}
.hero .hero-img::after {
  content: "New";
  position: absolute;
  color: #000;
  background-color: #00ff88;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: -40px;
}
.hero .btn-wrap {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
.hero .btn-wrap button {
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  gap: 5px;
}

.hero .btn-wrap .btn1 button {
  background-image: var(--linear);
}
.hero .btn-wrap .btn2 button {
  background-color: transparent;
  border: 1px solid #00ff88;
}

/* About us */
.about {
  background-color: var(--bg-pirmary);
  color: white;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .container .inner-content p {
  color: #ddd;
  max-width: 60%;
  margin: 20px auto;
}
.about .customer-card-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 60px 0px;
  border-top: 1px solid #dddddd31;
  padding-top: 30px;
}
.about .customer-card-wrap i {
  font-size: 20px;
}
.about .customer-card-wrap h1 {
  color: #00ff88;
}

/* Why Choose Section */
.why-chose {
  background-color: var(--bg-card);
  color: #fff;
}
.why-chose .card-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.why-chose .card-wrap .card {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}
.why-chose .card-wrap .card.v-card1 {
  grid-column: span 1;
  grid-row: span 2;
}
.why-chose .card-wrap .card.v-card2 {
  grid-column: span 2;
  grid-row: span 1;
}
